*.o
*.lo
*.la
.deps
.libs
INSTALL
config.h
config.h.in
config.h.in~
config.log
config.status
docs/reference/*.stamp
docs/reference/*.bak
docs/reference/html
docs/reference/libsoup-2.4-decl-list.txt
docs/reference/libsoup-2.4-decl.txt
docs/reference/libsoup-2.4-scan.c
docs/reference/libsoup-2.4-undeclared.txt
docs/reference/libsoup-2.4-undocumented.txt
docs/reference/libsoup-2.4-unused.txt
docs/reference/libsoup-2.4.args
docs/reference/libsoup-2.4.hierarchy
docs/reference/libsoup-2.4.interfaces
docs/reference/libsoup-2.4.prerequisites
docs/reference/libsoup-2.4.signals
docs/reference/libsoup-2.4.types
docs/reference/tmpl
docs/reference/xml
examples/get
examples/simple-httpd
examples/simple-proxy
libsoup-2.4.pc
libsoup-gnome-2.4.pc
libsoup/libsoup-2.4.vapi
libsoup/soup-enum-types.*
libsoup/Soup-2.4.gir
libsoup/Soup-2.4.typelib
libsoup/SoupGNOME-2.4.gir
libsoup/SoupGNOME-2.4.typelib
libsoup/tld_data.inc
libsoup/soup-version.h
libtool
po/*.gmo
po/libsoup.pot
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
tests/*.log
tests/*.trs
tests/*-test
tests/*.test
tests/date
tests/header-parsing
tests/httpd.conf
tests/ntlm-test-helper
tests/pull-api
tests/soup-tests.gresource
tests/uri-parsing
