*~
*.o
*.lo
*.la
*.stamp
*.bak
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/reference/html-build.stamp
docs/reference/html.stamp
docs/reference/html
docs/reference/libsoup-2.4-decl-list.txt
docs/reference/libsoup-2.4-decl.txt
docs/reference/libsoup-2.4-undeclared.txt
docs/reference/libsoup-2.4-undocumented.txt
docs/reference/libsoup-2.4-unused.txt
docs/reference/libsoup-2.4.args
docs/reference/libsoup-2.4.hierarchy
docs/reference/libsoup-2.4.interfaces
docs/reference/libsoup-2.4.prerequisites
docs/reference/libsoup-2.4.signals
docs/reference/tmpl
docs/reference/xml
gtk-doc.make
install-sh
libsoup-zip
libsoup-2.4.pc
libsoup-gnome-2.4.pc
libsoup/soup-enum-types.c
libsoup/soup-enum-types.h
libsoup/soup-marshal.c
libsoup/soup-marshal.h
libtool
ltmain.sh
missing
python/COPYING
stamp-h1
tests/auth-test
tests/chunk-test
tests/context-test
tests/continue-test
tests/date
tests/dns
tests/forms-test
tests/get
tests/getbug
tests/header-parsing
tests/httpd.conf
tests/misc-test
tests/ntlm-test
tests/proxy-test
tests/pull-api
tests/range-test
tests/redirect-test
tests/server-auth-test
tests/simple-httpd
tests/simple-proxy
tests/ssl-test
tests/streaming-test
tests/uri-parsing
tests/xmlrpc-server-test
tests/xmlrpc-test
